.sideBar_main{
    padding: 20px;
    background-color: #d0ecf7;
    color: #333333 !important;
    border-radius: 10px;
    height: 387px;
}

.sideBar_heading {
    margin-bottom: 20px;
    font-size: 20px;
}

.sideBar_subHeading {
    color: #333333 !important;
    font-size: 15px;
    margin-bottom: 20px;
}

.sideBar_priority_checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sideBar_tag_chip {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}