.todoContent_main {
    margin: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todoContent_card_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todoContent_card {
    background-color: #d0ecf7;
    color: #333333;
    height: 50px;
    border-radius: 10px;
    border:'0.5px solid #ccc';
    align-content: center;
    padding: 0 10px;
    border: 1px solid #EDECEC;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.todo_add_button {
    font-family: 'Poppins' !important;
    text-transform: capitalize !important;
    width: 120px;
    align-self:self-end;
    background-color: #01579b !important; 
}

.searchSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchInput{
    height: 36.5px;
    width: 500px;
    padding: 0px;
    background-color: #ffffff;
}

.css-2u11ia-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6px 10px 6px 0 !important;
}

.dialog_tags:first-child .dialog_tags_chip{
    margin-left: 0px;
}

.dialog_tags_section{
    margin-top: 15px;
    color: #666666;
    font-size: 15px !important;
}

.todo_editButton{
    cursor: pointer;
    width:21px!important;
    height: 21px!important;
}

.todo_deleteButton{
    cursor: pointer;
    width: 21px !important;
    height: 21px !important;
}

.todo_noteButton{
    cursor: pointer;
    width: 21px !important;
    height: 21px !important;
}

.taskDescription {
    color: #666666;
    font-size: 15px;    
}

.taskTitleSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
}

.taskBodySection{
    padding: 0 20px 20px 20px;
}

.taskTitle{
    font-size: 30px;
    font-weight: 600;
}

.notesHeading{
    color: #333333;
    font-size: 20px;
}

.notesSection{
    margin-top: 20px;
}

.notesItem{
    background-color: #d0ecf7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
}